@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*:focus {
    outline: none;
}

* {
    font-family: "Righteous", cursive;
}

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-color: #FFF;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    height: 75vh;
    width: 35vh;
    border-radius: 12px;
    -webkit-box-shadow: 0px 4px 0px 10px rgba(3,97,89,0.3); 
    box-shadow: 0px 4px 0px 10px rgba(3,97,89,0.3);
    padding: 0 2rem;
}

.container-login img {
    width: 85%;
}

.container-login form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 0.8rem;
}

.container-login form label {
    font-size: 12px;
}

.container-login form input {
    border: none;
    border-bottom: 0.4px solid rgb(85, 84, 84);
    padding: 12px 6px;
    font-family: "Righteous", FontAwesome, cursive;
}

.container-login form a {
    font-size: 12px;
    text-decoration: none;
    color: #036159;
    text-align: end;
}

.login-btn {
    font-size: 1.8rem;
    border: none;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(170, 25, 25) 50%, rgb(250, 46, 46) 100%);
    color: #FFF;
    border-radius: 8px;
    width: 100%;
    padding: 4px 0;
    cursor: pointer;
}

.other-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.icons {
    display: flex;
    gap: 12px;
    font-size: 2rem;
    text-decoration: none;
}

@media (max-width: 400px) {
    .container-login {
        width: 60%;
    }
}