.pages {
  display: flex;
  justify-content: center;
}

.MembersComponent {
  background-color: #1e1e1e;

  color: #9ac4f8;
}

.info {
  width: 85%;
  margin: 10vh auto;
  font-family: Roboto;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 4px solid #9ac4f8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 9px 25px;
  margin: 7px 10px;
  font-size: 1.1rem;

  color: white;
  background-color: #121212;
  border: none;
  border-radius: 1.5vh;

  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.button:hover {
  background-color: white;
  color: #121212;
}

.button.open {
  background-color: white;
  color: #121212;
}
.dropdown {
  display: none;
}
@media (max-width: 925px) {
  .categories {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .dropdown {
    display: inline;

    width: 400px;
    margin: 180px auto;
    position: relative;

    z-index: 1;
  }

  .dropdown .dropdown-btn {
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);

    font-weight: bolder;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60vw;
  }

  .dropdown .dropdown-content {
    position: absolute;
    padding: 10px 20px;
    left: 0;
    background-color: rgb(41, 39, 39);

    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    color: white;
    width: 60vw;

    display: flex;
    align-items: center;
    flex-direction: column;

    transform: translateY(-30px);

    transition: all 0.5s ease-in-out;
  }

  .dropdown .dropdown-content.open {
    transform: translateY(10px);
  }

  .dropdown .dropdown-content .dropdown-item {
    padding: 10px;

    transition: all 0.2s;
  }

  .dropdown-open {
    display: none;
  }
}

.members-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;

  color: #121212;

  opacity: 0;

  /* Velocidade da animação  */
  transition: opacity 0.2s ease-in-out;
}

.members-container.open {
  opacity: 1;
}

.members {
  font-size: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #9ac4f8;
  width: 20vh;
  height: 20vh;
  border-radius: 2vh;
}

.foto {
  width: 50%;
  height: 50%;
  clip-path: circle(50% at 50% 50%);
}

.members {
  display: flex;
  flex-direction: column;

  font-size: 0.75rem;
}
