.members-container {
  color: #121212;

  opacity: 0;

  /* Velocidade da animação  */
  transition: all 0.2s;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4vw;

  justify-content: center;

  align-items: center;

}

@media (max-width: 1800px) {
  .members-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.members-container.open {
  opacity: 1;
}
