.HomeBackground {
  height: 100vh;
  /* Para ficar em baixo da navbar */

  position: relative;
}

.VideoBg {
  width: 100%;
  height: 100%;
  background-image: url("./assets/HomeBackground.svg");
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
