@keyframes ModalOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.modalCard {
  overflow: hidden;

  animation: ModalOpacity 200ms;
}

.modalBg {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.6);

  z-index: 1000;
}

.modalContentProjects {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;

  min-width: 45vw;
  min-height: 40vh;
  border-radius: 1rem;

  padding: 20px 30px;

  background-color: black;
  color: white;
}

.modalHeaderName {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 2.5vw;
}

.githubModal {
  font-size: 3.5rem;
  color: white;

  transition: all 250ms;
}

.githubModal:hover {
  transform: scale(1.1);
}

.ColetaneaProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 0;

  gap: 20px;
}

.FotoProjects {
  width: 35vw;

  display: flex;
  justify-content: center;
}

.infoModalProjects {
  height: 100%;
  width: 30vh;
}

.infoModalProjects dt {
  margin-left: 3vw;
  margin-top: 4vh;
}

.tecnologias {
  font-size: 25px;
  margin-top: 0px;
}

.fotoModalProjects {
  height: 15vw;
  object-fit: fill;

  cursor: pointer;

  transition: all 250ms;
}

.fotoModalProjects:hover {
  transform: scale(1.1);
}

.contribuidores h2 {
  margin: 20px 0;
}

.membrosParticipantesContainer {
  display: flex;
  flex-direction: row;

  width: 40vw;
  height: fit-content;

  gap: 8px;
}

@media (max-width: 768px) {
  .modalHeaderName {
    justify-content: center;
  }

  .modalContentProjects {
    min-width: 270px;
    padding: 20px;
    padding-bottom: 20px;
  }

  .ModalFotoProjectsName {
    font-size: 25px;
    height: fit-content;
    text-align: center;
  }

  .ColetaneaProjects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 80%;

    margin: 0;
  }

  .infoModalProjects {
    height: fit-content;
    width: 240px;
    padding: 0px 0px;
    margin: 0px 0px;
  }

  .fotoModalProjects {
    height: 15vh;
  }

  .membrosParticipantesContainer {
    min-width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
}
