.dropdown {
  display: none;
}

@media (max-width: 925px) {
  .categories {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .dropdown {
    display: flex;

    width: 100%;
    position: relative;

    justify-content: center;
  }

  .dropdown .dropdown-btn {
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);

    font-weight: bolder;
    color: white;
    text-align: center;

    width: 60vw;

    margin-top: 30px;

    margin-bottom: 20px;

    cursor: pointer;

    display: flex;
    align-items: center;

    justify-content: center;
  }

  .setinha {
    margin-left: auto;

    transition: all 200ms;
  }

  .setinha.open {
    transform: rotate(180deg);
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }
  .dropdown-content {
    position: absolute;
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);

    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    color: white;

    width: 55vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    top: 80px;

    animation: growDown 200ms;

    transform-origin: top center;
  }

  .dropdown-item {
    padding: 10px;

    border-top: 2px solid #444444;
    padding-bottom: 7.5px;
    width: 75%;

    text-align: center;

    cursor: pointer;
  }

  .dropdown-item:first-child {
    border: 0;
  }

  .dropdown-first + div {
    border: 0;
  }

  .dropdown-open {
    display: none;
  }
}
