.FooterComponent {
  color: white;
  background-color: #121212;

  height: 16vh;

  display: flex;
  align-items: center;
  font-size: 32px;
  justify-content: center;
}

@media (max-width: 700px) {
  .FooterComponent {
    font-size: 7vw;
  }
}
