.dropdown {
  display: none;
}

@media (max-width: 925px) {
  .categories {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .dropdown {
    display: flex;

    width: 100%;
    position: relative;

    justify-content: center;
  }

  .dropdown .dropdown-btn {
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);

    font-weight: bolder;
    color: white;
    text-align: center;

    width: 60vw;

    margin-top: 30px;

    margin-bottom: 20px;
  }

  .dropdown .dropdown-content {
    position: absolute;
    padding: 10px 20px;
    background-color: rgb(41, 39, 39);

    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    color: white;

    width: 55vw;

    /* margin: auto; */

    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    top: 80px;
  }

  .dropdown .dropdown-content .dropdown-item {
    padding: 10px;

    border-bottom: 2px solid #444444;
    padding-bottom: 15px;
    width: 75%;

    text-align: center;
  }

  .dropdown-open {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 450px) {
  .dropdown .dropdown-content {
  }
}

@media (max-width: 925px) and (min-width: 768px) {
  .dropdown .dropdown-content {
  }
}
