.members-container {
  margin-top: 2rem;

  color: #121212;

  opacity: 0;

  /* Velocidade da animação  */
  transition: all 0.2s ease-in-out;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4vw;

  justify-content: center;
}

@media (max-width: 1800px) {
  .members-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.members-container.open {
  opacity: 1;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px;
  background: #9ac4f8;
  width: 20vh;
  height: 20vh;
  border-radius: 2vh;

  font-size: 0.75rem;
}

@media (max-width: 490px) {
  .members {
    width: 30vw;
    height: 30vw;
  }
}

.foto {
  width: 50%;
  height: 50%;
  clip-path: circle(50% at 50% 50%);
}
