.AboutUsComponent {
  background-color: #1e1e1e;

  color: #bd7fb0;
}

.ContentAboutUs {
  padding-top: 85px;
}

.Text1 {
  margin: 15px auto;
  text-indent: 20px;
}

.Text2 {
  margin: 10px auto;
  text-indent: 20px;
}

.ContentAboutUs p {
  /* margin: 0px auto; */
  width: 80vw;
  color: #f3f3f3;
  text-align: justify;
}

.ContentAboutUs h3 {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 6px;
  width: 80vw;
  color: #f3f3f3;
}

.FotoAboutUs {
  padding: 5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.FotoAboutUs img {
  width: 20vw;
  height: 20vw;
  transition: all 250ms;
}

.FotoAboutUs img:hover {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .FotoAboutUs {
    flex-wrap: wrap;
  }
  .FotoAboutUs img {
    width: 15vh;
    height: 15vh;
  }
}
