.AboutUsComponent {
  background-color: #1e1e1e;

  color: #bd7fb0;
}

.Content{
  padding-top: 85px;
}

.Text1{
  margin: 15px auto;
}

.Text2{
  margin: 10px auto;
}

.Content p{
  /* margin: 0px auto; */
  width: 80vw;
  color: #F3F3F3;
  text-align: justify;
}

.Content h3{
  margin: auto;
  margin-top: 35px;
  margin-bottom: 6px;
  width: 80vw;
  color: #F3F3F3;
}

.Foto{
  padding: 5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.Foto img{
  width: 20vw;
  height: 20vw;
}

@media (max-width: 700px){
  .Foto{
    flex-wrap: wrap;
  }
  .Foto img{
    width: 15vh;
    height: 15vh;
  }
}

